%% -*- erlang -*-
%% This is the default `rebar.config` for SockJS-erlang.
%%

{erl_opts, [
            %% fail_on_warning,
            bin_opt_info,
            warn_missing_spec,
            debug_info,
            warn_export_all
]}.

{deps, [
        {cowboy, ".*",
         {git, "git://github.com/extend/cowboy.git", "4fb2a6face6e7d6ff1dd34a02c3bd8b63d972624"}}
       ]}.
